<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f6f6f6;"></span>
		<span class="sg-label">#f6f6f6</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #eaf6ff;"></span>
		<span class="sg-label">#eaf6ff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0f2940;"></span>
		<span class="sg-label">#0f2940</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #42516B;"></span>
		<span class="sg-label">#42516B</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #323A49;"></span>
		<span class="sg-label">#323A49</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #5a6275;"></span>
		<span class="sg-label">#5a6275</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #3d475d;"></span>
		<span class="sg-label">#3d475d</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #3023ae;"></span>
		<span class="sg-label">#3023ae</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: #377afd;"></span>
    <span class="sg-label">#377afd</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #7ab5fb;"></span>
    <span class="sg-label">#7ab5fb</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #c15802;"></span>
    <span class="sg-label">#c15802</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #9b4702;"></span>
    <span class="sg-label">#9b4702</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #fd9304;"></span>
    <span class="sg-label">#fd9304</span>
  </li>
</ul>